<a href="https://colab.research.google.com/github/mustafahunerli/veri_bilimi_kurs_kodlari_py_edit/blob/main/D2_istatistik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Veri Bilimi İçin İstatistik
1. Örnek Teorisi
  * 1.1 Örneklem, Örneklem Dağılımı, Limit Teoremi
2. Betimsel İstatistikler
  * 2.1 Genel İstatistikler
  * 2.2 Kovaryans Ve Korelasyon
3. Güven Aralıkları
4. Olasılık Dağılımları
  * 4.1 Kesikli Olasılık Dağılımı
    * 4.1.1 Bernoilli
    * 4.1.2 Binom
    * 4.1.3 Poisson
  * 4.2 Süreklİ Olasılık Dağılımları
    * 4.2.1 Normal
    * 4.2.2 Uniform
    * 4.2.3 Üstel
5. Hipotez Testleri
6. Varyans Analizi
7. Korelasyon Analizi

#1. Örnek Teorisi

##1.1 Örneklem, Örneklem Dağılımı, Limit Teoremi

10.000 kişi arasından 100 kişilik örneklem çekelim ve oralamasını popülasyon ortalaması ile karşılaştıralım.

In [3]:
import numpy as np
populasyon = np.random.randint(0,80,10000) #data oluştur
populasyon[0:10]

array([59, 48, 56, 76, 44, 26, 65, 37, 63, 58])

In [ ]:
import pandas as pd
pd.DataFrame(populasyon) #dataframe e çevir

In [19]:
#örneklem çekimi
np.random.seed(115) #farklı örnneklemler gelmemesi için bunu klememiz gerekiyor.
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem #örneklem çekme

array([34, 54, 55, 58,  2, 13, 35, 65, 60,  2, 23, 23, 44, 38, 52, 13, 28,
       24, 20, 25, 20, 71, 76, 34, 61, 42, 52, 61, 54, 57,  6, 15, 43, 40,
       15,  7, 64, 77,  9, 58, 33, 25, 52, 78, 58, 21, 55, 64, 64, 77, 24,
       30, 79, 64, 63, 69, 58, 43,  3, 65, 67, 31,  0, 65,  6,  6,  9,  6,
       34,  2, 45,  7, 36, 31, 10, 13, 55,  0, 35,  6, 38, 75, 32, 59, 25,
       31, 55, 26, 17, 53,  4, 42, 67, 51, 11, 77, 45, 42, 65, 45])

In [20]:
orneklem.mean()

38.79

In [21]:
populasyon.mean()

39.7313

* örneklem teorisine göre çekilen örneklemin ortalaması ile populasyon ortalaması birbirine yakındır.
* çekilen örneklem hangi grup gruplardan çekildi, farklı farklı örneklemler çekilebilir miydi? her bir rastgele çekilen örneklemin ortalaması merkezi limit teoremi aracılıgıyla anakütle ortalamasına eşitlenir.

#2. Betimsel İstatistikler

##2.1 Genel İstatistikler

* Kovaryans: İki değişken arasındaki ilişkinin değişkenlik ölçüsüdür. iki rastgele değişkenin kendi ortalamalarından olan sapmalarının çarpımlarının beklenen değeridir.
* Korelasyon: İki değişken arasındaki ilişkinin gücü ve yönü hakkında bilgi verir.

In [23]:
#yeni data
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
df.describe().T #betimsel istatistiklerin getirilmesi

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [ ]:
!pip install researchpy
import researchpy as rp #betimsel istatistiklerin diğer bi çağırlma yönetimi. daha detaylı güven aralıkları var

In [31]:
rp.summary_cont(df[["total_bill","tip","size"]]) # sayısal degişkenler için

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

sayı, ortalama, standanrt sapma, standart hata, güven aralıkları, ???

In [32]:
rp.summary_cat(df[["sex","smoker","day"]]) # kategorik degişkenler için

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

##2.2 Kovaryans Ve Korelasyon

In [37]:
#kovaryans
df[["tip","total_bill"]].cov() # sayısal değişkenlerin kovaryansı olur. tip ile toplam fatura arasındaki değişkenlik ölçüsünü merak ediyurz

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

iki değişken arasındai varsayns olarak kabul edilebilir.

In [38]:
#korelasyon
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

tip ve total bill değişkenleri arasındaki bağı açıklar. daha ilerde bunların anlamlılıkları da ölçülecek.

#3. Güven Aralıkları

* anakütle parametresinin tahmini değerini kapsayabilecek 2 sayılı bir aralık.
* ölçümün hassasiyetinin bir göstergesidir.
* ön tanımlı değer %95 dir (alfa değerinin tersi)
* 95 lik güven sınırının tablo değeri 1,96 dır

> örnek uygulama: n=100, ort=180, st.sapma=40 ise ortalamanın güven aralığını hesapla. 180+1,96*40/kök100  ,  180-1,96*40/kök100 -->172 , 188 arasında

> örnek uygulama 2: yeni üretilen bir ürünün optimum fiyatını belirleme

In [42]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000) #data oluştur. 10 tl den 110 arasında 1000 kişi ile anket yapılmış
fiyatlar.mean() # ortalama

60.818

In [44]:
import statsmodels.stats.api as sms #fonksiyon çağırıyoruz
sms.DescrStatsW(fiyatlar).tconfint_mean()

(59.05139417524599, 62.58460582475401)

müşterilerin %95 i 59 lira ile 62 lira arasında ücret verebilmektedir

#4. Olasılık Dağılımları

* olasılık: bir olayın meydana gelmesi için uygun durum sayısının o durumun olabileceği tüm durum sayısına oranıdır.
* rassal değişken: değerlerini bir deneyin sonucundan alan değişkene rassal değişken denir
* dağılım: olayların sayısal karşılıklarının otaya çıkardığı yapıya dağılım denir
* olasılık dağılımı: olayların sayısal karşılığının gerçekleşme olasılıkları ile birlikte sunulması
* olasılık hesaplamak için kullanılan fonksiyon